.translate-x-negative-full {
    --tw-translate-x: -100%!important;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transition-transform {
    transition-property: transform;
    transition-timing-function: ease-out;
    transition-duration: 350ms!important;}



    html, body {
        width: 100%;
        height: 100vh;
        font-family: 'Cairo', sans-serif!important;
       font-weight: 700!important;
    }

    p{

        font-size: 14px!important;
    }
    h1{

        font-size: 26px;
    }
    h2{

        font-size: 24px;
    }

    h3{

        font-size: 20px!important;
    }

    h4{

        font-size: 18px!important;
    }
    :is([dir=rtl]) select:not([size]) {
        background-position: left 0.75rem center;
        padding-right: 0.75rem;
        padding-left: 30px;
    }
    #container {
        width: 1000px;
        margin: 20px auto;
    }
    .ck-editor__editable[role="textbox"] {
        /* Editing area */
        min-height: 470px;
    }
    .ck-content .image {
        /* Block images */
        max-width: 80%;
        margin: 20px auto;
    }
